{% extends "base_noheader.html" %}

{% block body %}
  <body class="hold-transition login-page">
{% endblock %}

{% block content %}


  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>{{ title }}</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Введите логин и пароль чтобы продолжить</p>


        {% if form.errors %}
          <div class="alert alert-danger">{{ form.errors }}</div>
        {% endif %}


        <form action="{% url 'login' %}" method="post" class="login-container">

          {% csrf_token %}

          <div class="input-group mb-3">
            <table>
              <tr>
                <td>
                  {{ login_form.username.label_tag }}
                </td>
                <td>
                  {{ login_form.username }}
                </td>
              </tr>
            </table>
{#            <div class="input-group-append">#}
{#              <div class="input-group-text">#}
{#                <span class="fas fa-user"></span>#}
{#              </div>#}
{#            </div>#}
          </div>
          <div class="input-group mb-3">
            <table>
              <tr>
                <td>
                  {{ login_form.password.label_tag }}
                </td>
                <td>{{ login_form.password }}</td>
              </tr>
            </table>
{#            <div class="input-group-append">#}
{#              <div class="input-group-text">#}
{#                <span class="fas fa-lock"></span>#}
{#              </div>#}
{#            </div>#}
          </div>

          <input type="submit" class="btn btn-primary btn-block" value="login"/>
          <a type="button" href="/register" class="btn btn-primary btn-block">register</a>

        </form>


        {# Assumes you setup the password_reset view in your URLconf #}
{#        <p class="mb-0">#}
{#          <a href="{% url 'password_reset' %}">Lost password?</a>#}
{#        </p>#}

      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

{% endblock %}
