{% extends "base.html" %}


{% block body %}
    <body class="hold-transition sidebar-mini">
{% endblock %}

{% block content %}

    {% if is_admin %}
        <!-- general form elements -->
        <div class="card card-primary">

            <!-- form start -->
            <form class="form-horizontal" method="post" action="">
                {% csrf_token %}

                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}

                <div class="card-body">
                    <div class="form-group">
                        <div class="modal fade" aria-hidden="true">
                            {{ form.id }}
                        </div>
                        <label>
                            Новое имя категории новостей
                        </label>
                        {{ form.name }}
                        {% for error in form.name.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" href="../categories" class="btn btn-outline-success btn-sm">Добавить</button>
                </div>
            </form>
        </div>


    {% endif %}


{% endblock %}
