{% extends "base.html" %}

{% block body %}
  {% load static %}
  <body class="hold-transition sidebar-mini">

  <!-- Summernote -->
  <script src="{% static 'plugins/jquery/jquery.slim.min.js' %}"></script>
  <script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- Summernote -->
  <link rel="stylesheet" href="{% static 'plugins/summernote/summernote-bs4.min.css' %}">
  <script src="{% static 'plugins/summernote/summernote-bs4.min.js' %}"></script>

{% endblock %}


{% block content %}


  {% if request.user.is_authenticated and is_admin %}

    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Текст новости поддерживает html теги</h3>
      </div>
      <!-- form start -->
      <form class="form-horizontal" method="post" action="">
        {% csrf_token %}

        {% if form.errors %}
          <div class="alert alert-danger">{{ form.errors }}</div>
        {% endif %}

        <div class="card-body">
          <div class="form-group">
            <label for="title">
              {{ form.title.label }}
            </label>
            {{ form.title }}
            {% for error in form.title.errors %}
              <p class="alert alert-danger" role="alert">
                {{ error }}
              </p>
            {% endfor %}
          </div>


          <div class='form-group'>
            <label for='summernote'>
              {{ form.content.label }}
            </label>
            <textarea id="summernote" name="content" class='form-control'>
          {{ form.content.value }}
        </textarea>
            <script>
                $('#summernote').summernote({
                    placeholder: 'Enter some content here.',
                    tabsize: 2,
                    height: 100
                });
            </script>
          </div>


          <div class="form-group">
            <label for="category">
              {{ form.category.label }}
            </label>
            {{ form.category }}
            {% for error in form.category.errors %}
              <p class="alert alert-danger" role="alert">
                {{ error }}
              </p>
            {% endfor %}
          </div>

          <div class="form-check">
            {{ form.is_published }}
            <label class="form-check-label">{{ form.is_published.label }}</label>
          </div>
        </div>

        <div class="card-footer">
          <button type="submit" href="../" class="btn btn-outline-success btn-sm">Отправить</button>
          <a type="button" href="/" class="btn btn-outline-info btn-sm">Закрыть</a>
        </div>
      </form>

    </div>

  {% endif %}

{% endblock %}
