{% extends "base_noheader.html" %}


{% block body %}
  <body class="hold-transition login-page">
{% endblock %}


{% block content %}

  <div class="login-box">
    <div class="login-logo">
      <a href="/"><b>{{ title }}</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">

        <p class="login-box-msg">Отредактируйте данные</p>

        <form action="" method="post">

          {% csrf_token %}

          {% if form.errors %}
            <div class="alert alert-danger">{{ form.errors }}</div>
          {% endif %}

          <div class="input-group mb-3">

            {{ form.first_name }}

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">

            {{ form.last_name }}

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">

            {{ form.email }}

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
          </div>

          <div class="input-group mb-3">

            {{ form.username }}

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-user"></span>
              </div>
            </div>
          </div>


          <div class="input-group mb-3">
            {{ form.groups }}
                        <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-users"></span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-8">
              <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Изменить</button>
              </div>
            </div>


            <div class="col">
              <a type="button" href="/users" class="btn btn-primary btn-block">Закрыть</a>
            </div>

          </div>
        </form>
      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

{% endblock %}
